<!-- views/frameTop.ejs -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Elfin Connect WebUI</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-icons.min.css" />
  <style>
    body {
      font-family: Arial, sans-serif;
      background-image: url("gfx/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .container-fluid {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    /* Header styles */
    header {
      background-color: #007bff;
      opacity: 0.8;
      color: white;
      padding: 20px;
      border-radius: 0 0 10px 0;
    }

    /* Main content area styles */
    .row {
      flex: 1;
      padding: 0 12px;
    }

    /* Vertical menu styles */
    .sidebar {
      background-color: #606466;
      /* Dark background color */
      color: white;
      opacity: 0.8;
      padding: 10px;
    }

    .nav-link {
      color: white;
      font-size: 18px;
      /* Larger font size */
      padding: 10px 15px;
      /* Increased padding for separation */
    }

    .nav-link:hover {
      background-color: #495057;
    }

    .nav-item {
      border-bottom: 1px solid #495057;
      /* Separator line between items */
    }

    .nav-item:last-child {
      border-bottom: none;
      /* Remove separator line for the last item */
    }

    /* Section styles */
    section {
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
    }

    .userwelcome {
      padding-right: 10px;
      font-size: 18px;
    }
  </style>
  <script>
    function changeLanguage() {
      let selectedLanguage = document.getElementById("languageSelect").value;
      document.cookie = `lang=${encodeURIComponent(selectedLanguage)}; Max-Age=86400; path=/`;
      location.reload();
    }
  </script>
</head>

<body>
  <div class="container-fluid">
    <!-- Header -->
    <header class="d-flex justify-content-between align-items-center">
      <div>
        <h1>Elfin Connect WebUI</h1>
        <!--<p>Version 1.0</p>-->
      </div>
      <div>
        <span class="userwelcome"><%= texts.Welcome %>: <% if (typeof user !=='undefined' && user.username !=='undefined' ) { %> <b><%- user.username %> </b> <%} %></span>
        <select id="languageSelect" onchange="changeLanguage()">
          <% texts._cfg.all.forEach(entry => { %>
          <option value="<%= Object.keys(entry)[0] %>"><%= entry[Object.keys(entry)[0]] %></option>
          <% }); %>
        </select>
        <a href="/logout" class="btn btn-danger"><%= texts.Logout %></a>
      </div>
    </header>

    <!-- Main content area -->
    <div class="row">
      <!-- Vertical menu (responsive sidebar) -->
      <nav class="col-md-3 col-lg-2 d-md-block sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/home"> <%= texts.Home %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user"> <%= texts.User %> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/devices"> <%= texts.Devices %> </a>
            </li>
            <% if (typeof user !=='undefined' && user.admin === true) { %>
            <li class="nav-item">
              <a class="nav-link" href="/register"> <%= texts.Register %> </a>
            </li>
            <%} %>
          </ul>
        </div>
      </nav>

      <!-- User/Devices page content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">