<!-- views/login.ejs -->
<%- include('frameTop') -%>

<body>
  <p><%= texts.test %></p>
  <button onclick="setLanguage('hu')">Set Cookie hu</button>
  <button onclick="setLanguage('en')">Set Cookie en</button>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
      <div class="login-form">
        <h2><%= texts.Login %></h2>
        <% if (typeof error !=='undefined' ) { %>
        <p class="alert alert-danger"><%= error %></p>
        <% } %><% if (typeof warning !=='undefined' ) { %>
        <p class="alert alert-warning"><%= warning %></p>
        <% } %>
        <form action="/login" method="post">
          <div class="form-group mt-4">
            <label for="username"><%= texts.Username %></label>
            <input type="text" name="username" class="form-control" id="username" required />
          </div>
          <div class="form-group  mt-4">
            <label for="password"><%= texts.Password %></label>
            <input type="password" name="password" class="form-control" id="password" required />
          </div>
          <div class="form-group  mt-4"></div>
          <button type="submit" class="btn btn-primary"><%= texts.Login %></button>
      </div>
      </form>
    </div>
  </div>
</body>

<script>
  function setLanguage(value) {
    document.cookie = `lang=${encodeURIComponent(value)}; Max-Age=86400; path=/`;
    location.reload();

  }
</script>

<%- include('frameBottom') -%>