<!-- views/setup.ejs -->
<%- include('frameTop') -%>

<body>
  <div style="height: 3vh; margin: 10px 0px 0px 10px;">
    <span><%= texts.Select_language%>:</span>
    <select id="languageSelect" onchange="setLanguageCookie(this.value)">
      <% texts._cfg.all.forEach(entry => { %>
      <option value="<%= Object.keys(entry)[0] %>">
        <%= entry[Object.keys(entry)[0]] %>
      </option>
      <% }); %>
    </select>
    <image src="gfx/flags/<%= texts._cfg.flag %>.svg" width="40" height="40" />
  </div>
  <div class="container d-flex justify-content-center align-items-center" style="height: 95vh;">
    <div class="col-md-4">
      <div class="login-form">
        <h2>Create admin profile</h2>
        <% if (typeof error !=='undefined' ) { %>
        <p class="alert alert-danger"><%= error %></p>
        <% } %> <% if (typeof success !=='undefined' ) { %>
        <p class="alert alert-success"><%= success %></p>
        <% } %> <% if (typeof warning !=='undefined' ) { %>
        <p class="alert alert-warning"><%= warning %></p>
        <% } %>
        <form action="/setup" method="post">
          <div class="mb-3 form-group">
            <label for="username"><%= texts.Username %>:</label>
            <input type="text" name="username" class="form-control" id="username" required />
          </div>
          <div class="mb-3 form-group">
            <label for="password"><%= texts.Password %>:</label>
            <input type="password" name="password" class="form-control" id="password" required />
          </div>
          <div class="row justify-content-between">
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary"><%= texts.Create_user %></button>
            </div>
            <div class="col-md-4">
              <a href="/login" class="btn btn-secondary"><%= texts.Go_to_login_page %></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('frameBottom') -%>